body{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.data1{
    width: 78%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain h4{
    font-weight: bold;
  }
.heading h3{
    font-weight: bold;
    padding-left: 1%;
}
.allbtn{
    width: 100%;
    background-color: slateblue;
    border: 1px solid slateblue;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
}
.leftItems{
    width: 100%;
    text-align: left;
}
.allbtn4{
    width: 90%;
    background-color: rgb(101, 86, 197);
}
.al1{
    display: flex;
    text-align: left;
    margin: 0 22px 0 22px;
    font-size: 85%;
}
.cardGroup{
    display: flex;
    gap: 18px;
    margin-bottom: 15px;
    height: 26vh;
}
.card{
    border-radius: 5px;
    border: 1px solid gainsboro;   
    width: 170px;
}
.card img{
    width:35px;
    display:flex;
    margin:15px;
}
.card:hover{
    border: 1px solid slateblue;
}