.App {
  text-align: center;
}
.center-stepper{
  display: inline-block;
  width: 80%;
}
/* .progressbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  counter-reset: step;
}
.progressbar::before, .progress{
  content: '';
  position: absolute;
  top: 50%;
  height: 4px;
  width: 100%;
  background-color: rgb(160, 157, 157);
  z-index: -1;
}
.progress{
  background-color: slateblue;
  width: 0%;
}
.progress-step{
  width: 2.29rem;
  height: 2.29rem;
  background-color: rgb(160, 157, 157);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-step::before{
  counter-increment: step;
  content: counter(step);
}
.progress-step-active{
  color: white;
  background-color: slateblue;
  animation: animate 0.5s;
} */
